.appbar {
  width: 100%;
  height: 10rem;
  padding: 1rem 5rem;
  border-bottom: 1px solid var(--color-secondary);
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  position: fixed;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* App Bar Links */
.appbar__brand,
.right {
  width: 20rem;
}

/* App Bar Toggle */
.appbar__toggle {
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appbar__toggle span,
.appbar__toggle span::before,
.appbar__toggle span::after {
  width: 100%;
  height: 0.3rem;
  background-color: var(--color-secondary);
}

.appbar__toggle span {
  position: relative;
}

.appbar__toggle span::before,
.appbar__toggle span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.appbar__toggle span::before {
  top: -0.5rem;
}
.appbar__toggle span::after {
  bottom: -0.5rem;
}

.appbar__toggle:hover span::before {
  top: 0;
}

/* App Bar Links */
.appbar__link {
  padding: 0rem 2rem;
}

.appbar__logo {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
}

.right {
  display: flex;
  justify-content: flex-end;
}
